.main-div {
    /* This is a comment */
    color: red;
    font-size: 40px;
    position: absolute;
    top:100px;
    left:400px;
    background: yellow;
    width: 50%;
    height:20%;
}

#divOne{
    /* This is a comment */
    color: red;
    font-size: 70px;
    position: absolute;
    top:200px;
    left:400px;
    background: blue;
    width: 50%;
    height:20%;
}
