.titleBlock {
    /* This is a comment */
    width:80vw;
    /*background:red;*/
    margin-left: 10vw;
    line-height: 1px;
    margin-top:50px;
}

h1, h2 {
    color:red;
}

h2 {
    font-size: 20px;
}

.canvas{
    height:80vh;
    width:80vw;
    background:yellow;
    margin-left:10vw;
}
